
nav{
  background-color: #05A623;
}

.jumbotron{
  padding-top: 6rem;
  background-color: #97E095;
}

#about{
  padding-top: 5rem;
}

#projects{  
  padding-top: 5rem;
  background-color: #97E095;
}

#contact{
  padding-top: 5rem;
}


footer{
  background-color: #05A623;
}